<!doctype HTML>
<HTML>
    <head>
        <title>URL-shortening Service</title>
        <meta charset="UTF-8">
         <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet" type ='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Codystar|Raleway+Dots" rel="stylesheet"> 
  </head>
    <body>
        <div class='container'>
            <div class = 'page1'>
                <div class='form_title'>
            <img id='logo' src="http://www.international.gc.ca/world-monde/assets/images/funding-financement/GOC_colour_en.png" alt="gov_logo">
        </div>
                <div id = 'welcome_message' class='welcome_message'>
                    <h1 id='welcome'>
                        Welcome to the government-funded URL-shortening service.
                    </h1>
                 </div>
                 <div class='closed'>
                     <h1>Sorry, this service is currently unavailable. Please see our opening hours below.</h1>
                 </div>
                   <div class='now_serving hidden'>
                    <div id='serving_box'>
                        <h2 >
                            NOW SERVING
                        </h2>
                        <div class = 'counting'>
                            <span id='count'>065</span>
                        </div>
                    </div> 
                </div>
               <div class='give_number'>
                    <h3 id='instructions_number'>
                        Please take a number.
                    </h3>
                    <hr class='stylehr'>
                </div>

                <div class= 'display_number'>
                    <img id='user_number'src="https://modernweb.com/wp-content/uploads/2014/02/icon_28196_67.png" alt="user_number">
                </div>
            
                <div class = 'hours'>
                    <p id= 'service_hours'> We are open from 10am to 3pm on Monday through Friday. <br>  Except on holidays including Mother's Day, 
                    Thanksgiving, Labour Day, Remembrance Day, and others. <br> We also take a lunch break from 11am-1pm so time your arrival appropriately. Thank you. </p> 
               
                </div>
            </div>   
             <div class='card hidden'>
            <div class='user_form'>
                <div class='form_instructions'>
                    <h1>URL-shortening service: Application form.</h1>
                    <br>
                    <h5> Your privacy is important to us. Please provide us with your personal information. </h5>
                    <br>
                </div>
                <form id='user_form' action="/getUserInfo" method='post' class='form-horizontal' data-toggle='validator'>
                    <div class="form-group">
                        <input name='userName'class="form-control" type="text" placeholder="Enter your name">
                    </div>
                    <div class="form-group">
                        <input name='address'class="form-control" type="text" placeholder="Street Address">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="number" placeholder="Apartment, Suite, Rm">
                    </div>
                    <div class="form-group">
                        <input name='city'class="form-control" type="text" placeholder="City">
                    </div>
                    <div class="form-group">
                        <input name='zipCode'class="form-control" type="text" placeholder="Zip Code">
                    </div>
                    <div class="form-group">
                        <input name='email'class="form-control" type="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input name='phone' class="form-control" type="tel" placeholder="1-(555)-555-5555">
                    </div>
                    <div class='input-group'>
                        <label for="marital">Marital status: </label>
                        <div class='input-group'>

                            <select class='form-control' id='severity' required>
  <option value="single">Single</option>
  <option value="Married">Married</option>
  <option value="Divorced">Divorced</option>
  <option value="Widowed">Widowed</option>
 
                    </select>
                        </div>
                    </div>
                    <br>
                    <div class='input-group'>
                        <label for="status">Status in Canada: </label>
                        <div class='input-group'>

                            <select class='form-control' id='status' required>
  <option value="Citizen">Canadian Citizen</option>
  <option value="PR">Permanent Resident</option>
  <option value="TR">Temporary Resident</option>
 
                    </select>
                        </div>
                    </div>
                    <br>
                    <div class="submit">

                        <button type="submit" class="btn btn-primary btn-lg">Proceed to payment</button>

                    </div>
                </form>
            </div>
            </div>
   
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
<script src="/javascripts/page1.js"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script>
<script src="/javascripts/form.js"></script>
</HTML>