<!doctype html>

<head lang='en'>
    <meta charset="UTF-8">
    <title> URL shortening app</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="/style.css" rel="stylesheet">

</head>

<body>
    <div class='container'>
        <div class='form_title'>
            <img id='logo' src="http://www.international.gc.ca/world-monde/assets/images/funding-financement/GOC_colour_en.png" alt="gov_logo">
        </div>
        <h1> URL-shortening service</h1>
        <div class='service card'>
            <div class='thankYou'>
                <h2>Thank you for your payment.</h2>
            </div>
            <br>
            <div id='instructions'>
                <h4>Enter the URL you wish to shorten below. <br> Carefully review the URL before submitting it for compression.
                </h4>

                <br>

            </div>
            <form id='user_url' data-toggle='validator'>
                <div class="form-group">
                        <input name='url' id="url-field" type="text" class="form-control input-lg" placeholder="URL to shorten (format: http://www.example.com)" required>
                    </div>
                
                    <div class="help-block with-errors"></div>
                   <div>
        <button class="btn btn-primary shorten" type="button">SHORTEN</button>
        </div> 
            </form>
            <div class='shorter'>
                <h1 id="link"></h1>
            </div>
        </div>
       
    </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script>
<script src="/shorten.js"></script>