body{
    background-color: #f9f9f9;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    margin: 0%
}


@keyframes dropDown{
    0% {transform: translateY(-160px); opacity: 0; z-index:0}
    100%{opacity: 1;z-index: 1}
}
@keyframes leftSlide{
    0%{transform: translateX(-50%)}
    100%{transform: translateX(0)}
}

@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}
@keyframes fadeOut{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(0);
        opacity: 0
    }
}

@keyframes spaceInUp {
  0% {
    opacity: 0;
    transform-origin: 20% -250%;
    transform: scale(0) translate(0%, -200%);
  }

  100% {
    opacity: 1;
    transform-origin: 50% 0%;
    transform: scale(1) translate(0%, 0%);
  }
}
@keyframes vanishIn {
  0% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(2, 2);
    filter: blur(90px);
  }

  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
    filter: blur(0px);
  }
}
@keyframes neon{
    from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}
.animate{
    animation: spaceInUp 1s;  
}
.tada{
    animation: vanishIn 1s
}

#welcome_message{
    font-size: 70px;
    max-width: 800px;
    height: auto;
    animation: 0.5s ease-in 0s 1 fadeIn;
    animation-fill-mode: forwards;
    text-align: center;
    display: inline-block;
    background-color:#f9f9f9
}
.closed{
    font-size: 50px;
    max-width: 800px;
    height: auto;
    animation: 0.5s ease-in 0s 1 fadeIn;
    color: black;
    padding: 20px;
    text-align: center;
    display: inline-block;
    margin-top: 10%
}
.give_number{
 padding-top: 3%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    animation: 0.5s ease-in 0s 1 fadeIn;
    animation-fill-mode: forwards;
    position: relative;
    z-index: 3;
    background-color: #f9f9f9;
}
#user_number{
   height: 250px;
    animation: 1s ease-in 0s 1 dropDown;
    animation-fill-mode: forwards;
}
.display_number{
    position: fixed;
    bottom: 15%;
    left: 50%;
    margin-left: -50%;
    width: 100%
}
.wait{
     animation: 1s ease-in 0s 1 fadeIn;
     animation-fill-mode: forwards;
}
hr.stylehr{
    height: 10px;
    width: 300px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
   
.hours{
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 50%;
    margin-left: -50%
}


.exiting{
    animation: 0.5s ease-in 0s 1 fadeOut;
    animation-fill-mode: forwards
}

.btn-shorten{
    background-color: #68EFAD;
    font-weight: 400;
    color: white;
}
.hidden{
    display: none
}
.user_form{
    margin: 15% auto;
    margin-top: 0%;
  margin-bottom: 0px;
  max-width: 800px;
  background: white;
  padding: 5%;
  border-radius: 20px;
  text-align: left
}
.stripe{
   margin: 15% auto;
  margin-top: 3%;
  margin-bottom: 5%;
  max-width: 800px;
  background: white;
  padding: 5%;
  border-radius: 20px; ;
  text-align: left
}
.service{
  margin: 15% auto;
  margin-top: 3%;
  margin-bottom: 5%;
  max-width: 800px;
  background: white;
  padding: 5%;
  border-radius: 20px; ;
  text-align: left 
}
#card-errors{
    color: #f39c12;
}
.status{
    display: inline-block
}
.form_title{
    max-width: 800px;
    display: inline-block
}
#logo{
width: 90%;
height: auto;
margin-top:3%;
margin-bottom: 3%
}

#title_form{
    max-width: 800px;
    display: inline-block;
    text-align: left;
    margin-left: -10%
}
#user_form .has-error .control-label,
#user_form .has-error .help-block,
#user_form .has-error .form-control-feedback {
    color: #f39c12;
}

#user_form .has-success .control-label,
#user_form .has-success .help-block,
#user_form .has-success .form-control-feedback {
    color: #18bc9c;
}

#user_url .has-error .control-label,
#user_url .has-error .help-block,
#user_url .has-error .form-control-feedback {
    color: #f39c12;
}
#user_url .has-success .control-label,
#user_url .has-success .help-block,
#user_url .has-success .form-control-feedback {
    color: #18bc9c;
}
.thankYou{
    color: #18bc9c;
}
.shorter{
    margin: 3%;
    margin-left: 0%
}

#link{
     animation: 1s ease-in 0s 1 spaceInUp;
     animation-fill-mode: forwards;
}
.now_serving{
    left: 50%;
    margin-left: -50%;
    width: 100%;
    position: fixed;
   top: 20%
}
#serving_box{
    background-color: black;
    width: 300px;
    height: 200px;
    text-align: center;
    display: inline-block;
    color: white;
    border: 2px solid white
}
.counting{
    font-family: 'Codystar', cursive;
    font-size: 100px;
    color: white;
    animation: neon 1.5s ease-in-out infinite alternate;
}