body{
    background-color: #f9f9f9;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    margin: 0%
}


@keyframes dropDown{
    0% {transform: translateY(-120px); opacity: 0; z-index:0}
    100%{opacity: 1;z-index: 1}
}
@keyframes leftSlide{
    0%{transform: translateX(-50%)}
    100%{transform: translateX(0)}
}

@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}
@keyframes fadeOut{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(0);
        opacity: 0
    }
}
#welcome_message{
    border: 2px solid white;
    color: white;
    background-color: #3F51B5;
    font-size: 50px;
    max-width: 800px;
    height: auto;
    animation: 0.5s ease-in 0s 1 fadeIn;
    animation-fill-mode: forwards;
    padding: 5%;
    text-align: center;
    display: inline-block;
    margin-top: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.closed{
    font-size: 50px;
    max-width: 800px;
    height: auto;
    animation: 0.5s ease-in 0s 1 fadeIn;
    color: black;
    padding: 20px;
    text-align: center;
    display: inline-block;
    margin-top: 10%
}
.give_number{
    padding-top: 5%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    animation: 0.5s ease-in 0s 1 fadeIn;
    animation-fill-mode: forwards;
    position: relative;
    z-index: 3;
    background-color:rgba(224,247,250,1);
}

.user{
    margin-top:-30px;
    padding-top: 0px;
}
#user_number{
   height: 250px;
    animation: 1s ease-in 0s 1 dropDown;
    margin-bottom: 15%;
    padding-bottom: 5%;
    animation-fill-mode: forwards;
}

.wait{
     animation: 1s ease-in 0s 1 fadeIn;
     animation-fill-mode: forwards;
}
hr.stylehr{
    height: 10px;
    width: 300px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
   
.hours{
    margin-top: 15%;
    position: absolute;
    bottom: 30px;
    width: 100%;
    left: 50%;
    margin-left: -50%
}

.exiting{
    animation: 0.5s ease-in 0s 1 fadeOut;
    animation-fill-mode: forwards
}

.btn-shorten{
    background-color: #68EFAD;
    font-weight: 400;
    color: white;
}
.hidden{
    display: none
}
.user_form{
    margin: 15% auto;
    margin-top: 0%;
  margin-bottom: 0px;
  max-width: 800px;
  background: white;
  padding: 5%;
  border-radius: 20px;
  text-align: left
}
.stripe{
   margin: 15% auto;
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 800px;
  background: white;
  padding: 5%;
  border-radius: 20px; 
}

.status{
    display: inline-block
}
.form_title{
    max-width: 800px;
    display: inline-block
}
#logo{
width: 100%;
height: auto;
margin-top:3%;
margin-bottom: 3%
}

#title_form{
    max-width: 800px;
    display: inline-block;
    text-align: left;
    margin-left: -10%
}
#user_form .has-error .control-label,
#user_form .has-error .help-block,
#user_form .has-error .form-control-feedback {
    color: #f39c12;
}

#user_form .has-success .control-label,
#user_form .has-success .help-block,
#user_form .has-success .form-control-feedback {
    color: #18bc9c;
}